spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sugarfit
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      pool-name: HikariPool
      maximum-pool-size: 20
      minimum-idle: 5
      auto-commit: true

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
