spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sugarfit
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      pool-name: HikariPool
      maximum-pool-size: 20
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

logging:
  level:
    root: INFO
    com.sugarfit.backend: INFO
    org.springframework: WARN
    org.hibernate: WARN
    org.hibernate.SQL: OFF
    com.zaxxer.hikari: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,info
